@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
  }

  @font-face {
    font-family: "suisseAntique";
    src: url(./assets/font/suisseAntique.otf) format("opentype");
  }
  
  @font-face {
    font-family: "suisseLight";
    src: url(./assets/font/suisseLight.otf) format("opentype");
  }

  @font-face {
    font-family: "suisseMedium";
    src: url(./assets/font/suisseMedium.otf) format("opentype");
  }

  @font-face {
    font-family: "suisseBold";
    src: url(./assets/font/suisseBold.otf) format("opentype");
  }

  @font-face {
    font-family: "suisseBlack";
    src: url(./assets/font/suisseBlack.otf) format("opentype");
  }

  .title-antique {
    font-family: "suisseAntique";
  }

  .title-light {
    font-family: "suisseLight";
  }

  .title-medium {
    font-family: "suisseMedium";
  }

  .title-bold {
    font-family: "suisseBold";
  }

  .title-black {
    font-family: "suisseBlack";
  }